/* News & Updates */
/* Header */

#main {
  min-height: 100vh;
  margin-top: 85px;
  padding: 2rem 0;
  width: 85%;
}

.header-item {
  position: relative;
  height: 30rem;
}

.header-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #1aeeef;
}

.header-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  color: #dbd9d9;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0) 100%
  );
  padding: 1rem;
  border-radius: 10px;
}

h1,
h2,
h3,
h4 {
  margin: 1.6rem 0;
  line-height: 1.3;
  letter-spacing: 1px;
}

.text {
  margin: 1.6rem 0;
  line-height: 1.5;
  font-weight: 300;
  opacity: 0.9;
  letter-spacing: 1px;
}

.header-item-text small {
  display: block;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.header-item-text a {
  display: inline-block;
  padding: 10px 20px;
  /* margin: 10px 0; */
  border: 1px solid #1aeeef;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
  transition: 0.2s;
}

.header-item-text a:hover {
  background: #1aeeef;
  border: none;
  color: #050e2d;
  box-shadow: 0 0 10px #1aeeef;
}

/*Media Queries*/
@media (min-width: 1200px) {
  .header-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
  .header-item {
    height: 50vh;
  }

  .header-item:nth-child(1) {
    grid-column: 1 /5;
    grid-row: 1 / 2;
  }

  .header-item:nth-child(2) {
    grid-column: 1 /3;
    grid-row: 2 / 2;
  }

  .header-item:nth-child(3) {
    grid-column: 3 /5;
    grid-row: 2 / 3;
  }
}

@media (max-width: 991px) {
  .header-item:nth-child(1) {
    grid-column: 1 /3;
    grid-row: 1 / 2;
    /* height: 100%; */
  }

  .header-item:nth-child(2) {
    grid-column: 3 /5;
    grid-row: 1 / 2;
  }

  .header-item:nth-child(3) {
    grid-column: 3 /5;
    grid-row: 2 / 3;
  }
}
